.rootSeat {
    min-height: 30vh;
    min-width: 50%;
    border: 1px solid burlywood;
    display: flex;
}

.busArea {
    margin: 5%;
    border: 3px solid black;
    width: 10vw;
}

.driver {
    margin-left: 80%;
}

.seatContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.seatContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.seat {
    color: rgb(176, 210, 241);
    cursor: pointer;
}

.seat1 {
    color: rgb(225, 180, 107);
}

.seat2 {
    color: brown;
    cursor: pointer;
}


.details {}

.btn1 {
    background: rgb(142, 158, 230);
    color: rgb(36, 34, 34);
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border: none;
    font-weight: 600;
}