.root {
    height: 90vh;
    width: 100vw;
    background-image: url("https://media.istockphoto.com/illustrations/wireframe-of-grand-tour-bus-moving-fast-on-a-dark-blue-background-illustration-id1295087557?k=20&m=1295087557&s=612x612&w=0&h=jd3QXna13LYUU6xA3m3GZhiw223axU-eg0FS7-P_vyQ=");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    margin-top: 0;
}