.root {
    height: 90vh;
    width: 100vw;
    background-image: url("https://www.zeus.aegee.org/svn/flixbus/trunk/resources/image/FlixBus_Alpensee_2016.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    margin-top: 0;
}