.root {

    display: flex;
    flex-direction: column;
    /* need to add disply flex*/
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
}

.busContainer {
    margin-bottom: 15px;
}

.title {
    display: flex;
}

.from {
    padding: 10px;
    background-color: rgb(142, 158, 230);
    margin-left: 3%;
}

.to {
    padding: 15px;
    background-color: rgb(216, 249, 168)
}